ul#css3menu0,ul#css3menu0 ul{
	margin:0;list-style:none;padding:0;background-color:;border-width:0;border-style:solid;border-color:;}
ul#css3menu0 ul{
	display:none;position:absolute;left:0;top:100%;background-color:#2C2C2C;border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;-webkit-border-radius:0;-webkit-border-bottom-right-radius:10px;-webkit-border-bottom-left-radius:10px;padding:0 0 10px;}
ul#css3menu0 li:hover>*{
	display:block;}
ul#css3menu0 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu0 li:hover{
	z-index:1;}
ul#css3menu0{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:10px 10px 10px 0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
	*display:inline;}
* html ul#css3menu0 li a{
	display:inline-block;}
ul#css3menu0>li{
	margin:0 0 0 10px;}
ul#css3menu0 ul>li{
	margin:10px 0 0;}
ul#css3menu0 a:active, ul#css3menu0 a:focus{
	outline-style:none;}
ul#css3menu0 a{
	display:block;vertical-align:middle;text-align:right;text-decoration:none;font:13px Arial,sans-serif;color:#5CB430;cursor:default;padding:3px;background-color:#2C2C2C;background-repeat:repeat;border-width:0px;border-style:none;border-color:;}
ul#css3menu0 ul li{
	float:none;margin:0;}
ul#css3menu0 ul a{
	text-align:right;padding:4px;background-color:#2C2C2C;border-width:0 0 1px 0;border-style:solid;border-color:#424D3C;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;color:#9B9B9B;text-decoration:none;}
ul#css3menu0 li:hover>a,ul#css3menu0 li a.pressed{
	background-color:#2C2C2C;border-style:none;color:#9B9B9B;text-decoration:none;}
ul#css3menu0 img{
	border:none;vertical-align:middle;margin-right:3px;}
ul#css3menu0 span{
	display:block;overflow:visible;background-image:url("arrowmain0.gif");background-position:right center;background-repeat:no-repeat;padding-right:17px;}
ul#css3menu0 li:hover>a>span{
	background-image:url("arrowmain1.gif");}
ul#css3menu0 > label.switch{
	display:none;cursor:pointer;width:25px;height:20px;padding:3px 10px;}
ul#css3menu0 > label.switch:before{
	content:"";position:absolute;display:block;height:4px;width:25px;border-radius:4px;background:#5CB430;-moz-box-shadow:0 8px #5CB430, 0 16px #5CB430;-webkit-box-shadow:0 8px #5CB430, 0 16px #5CB430;box-shadow:0 8px #5CB430, 0 16px #5CB430;}
ul#css3menu0 > label.switch:hover:before{
	background:#9B9B9B;-moz-box-shadow:0 8px #9B9B9B, 0 16px #9B9B9B;-webkit-box-shadow:0 8px #9B9B9B, 0 16px #9B9B9B;box-shadow:0 8px #9B9B9B, 0 16px #9B9B9B;}
ul#css3menu0 > .switchbox{
	display:none;}
ul#css3menu0 ul li:hover>a,ul#css3menu0 ul li a.pressed{
	background-color:#5CB430;border-style:solid;border-color:#6ECC40;color:#EBF8E5;text-decoration:none;}
ul#css3menu0>li>a{
	padding:3px 10px;}
ul#css3menu0 li.topmenu>a{
	border-width:0 0 3px 0;border-style:none;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;padding:3px 10px;}
ul#css3menu0 li.topmenu:hover>a,ul#css3menu0 li.topmenu a.pressed{
	border-style:none;}
ul#css3menu0 li.toproot>a{
	border-width:0 0 3px 0;border-style:none;border-color:#2C2C2C;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;padding:3px 10px;}
ul#css3menu0 li.toproot:hover>a,ul#css3menu0 li.toproot a.pressed{
	border-style:solid;border-color:#2C2C2C;border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;}
@media screen and (max-width: 768px) {
	ul#css3menu0 > li {
		position: initial;}
	ul#css3menu0 ul .submenu,ul#css3menu0 li > ul {
		left: 0; right:auto; top: 100%;}
	ul#css3menu0 .submenu,ul#css3menu0 ul,ul#css3menu0 .column {
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding-right: 0;width: 100% !important;}
}
@media screen and (max-width: 155px) {
	ul#css3menu0 {
		width: 100%;}
	ul#css3menu0 > li {
		display: none !important;		position: relative;		width: 100% !important;}
	ul#css3menu0 > label.switch,ul#css3menu0 .switchbox:checked ~ li {
		display: block !important;}
}